@use "../base/fonts" as fonts;
@use "../base/colors" as colors;

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin flex-left($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: left;
  align-items: center;
}

@mixin flex-between($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: center;
}

@mixin footer-text {
  padding: 0.4rem;
  color: colors.$white-font;
  font-family: fonts.$text-font;
}

@mixin number {
  font-family: fonts.$text-font;
  color: colors.$white-font;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: colors.$primary-color;
  width: 1.5rem;
  height: 1.5rem;
  padding: 1rem;
  border-radius: 50%;
  position: absolute;
  right: 95%;
}

@mixin restaurant {
  position: relative;
  width: 95%;
  min-width: 15rem;
  max-width: 25rem;
  height: 4.5rem;
  background-color: colors.$gray-background;
  border-radius: 1.5rem;
}
