@use "../utils/mixins" as mixins;
@use "../base/fonts" as fonts;
@use "../base/colors" as colors;

.header {
  height: 4rem;
  @include mixins.flex-center(row);
  z-index: 1;
  box-shadow: 0px 5px 5px #000;
  background-color: colors.$white-font;
  p {
    font-family: fonts.$title-font;
    font-size: 2rem;
  }
}

.header__1 {
  height: 4rem;
  @include mixins.flex-center(row);
  z-index: 1;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: colors.$white-font;
  position: relative;
  top: 0;
  .fa-arrow-left {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
  }
  p {
    font-family: fonts.$title-font;
    font-size: 2rem;
  }
}
