@use "../base/colors" as colors;

@mixin heart-fill {
  cursor: pointer;
  transition: all 400ms ease-in-out;
  &:nth-child(1) {
    opacity: 1;
  }
  &:nth-child(2) {
    opacity: 0;
  }
  &:active {
    &:nth-child(1) {
      opacity: 0;
    }
    &:nth-child(2) {
      opacity: 1;
      color: colors.$primary-color;
    }
  }
}
