@use "../base/colors" as colors;

@mixin heart-fill {
  cursor: pointer;
  transition: all 400ms ease-in-out;
  .heart-1 {
    &::before {
      opacity: 1;
    }
  }
  .heart-2 {
    &::before {
      opacity: 0;
    }
  }
  &:active {
    .heart-1 {
      &::before {
        opacity: 0;
      }
    }
    .heart-2 {
      &::before {
        opacity: 1;
        color: colors.$primary-color;
      }
    }
  }
}
